.button {
  background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
  border: 1.5px solid #41522E;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}
