.wrapper {
  box-sizing: border-box;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 48px 32px 52px 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  color: #41522E;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.imgWrap {
  width: 164px;
  height: 149px;
  margin-right: 12px;
  outline: none;
}

.img {
  border-radius: 10px;
}

.carousel {
  margin: 28px 0;
}

.favouriteCount {
  color: #424242;
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 12px;
}

.listWrap {
  width: 584px;
}

.countValue {
  font-weight: 500;
}